

  .ion-subscript {
      padding-left: 20px;
  }
  

    .topics {
        border: 1px solid rosybrown;
        border-radius: 3px;
        margin: 0 2px;
    }

    .time {
        font-weight: 400;
    }

  
  